body {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background-color: #fff;
  width: 1900px;
  height: 700px;
  margin-top: 10px;
}

#main {
  float: left;
  width: 600px;
}

#sidebar {
  padding-top: 100px;
  margin-left:600px;
  width: 700px;
}
#reset_button{
	margin-left:200px;
	margin-top:18px;
	}
	
.resetbutton{font-size:17px;
width:150px;
height:50px;
font-weight:600;
color: #FFFFFF;
background-color: #000000;
}
	
#sequence {
  width: 900px;
  height: 70px;
  padding: 0 20px 0 0;
}
#sequence_points {
  width: 900px;
  height: 70px;
  padding: 0 20px 0 0;
}
#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 260px;
  left: 230px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: -1;
}

#percentage {
  font-size: 2.5em;
}